// Styling der Kacheln für VA Tage

.va_tag {
    grid-column: content-start / content-end;
}

.va_tag li {
    margin-top: 1px;
}

.va_tag__heading-container{
    grid-column: container-start / container-end;
    display: flex;
    justify-content: center;
}

.va_tag__heading-title{
    font-size: 2.5em;
    font-family: 'Annie Use Your Telescope';
}

.va_tag__card {
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    overflow: hidden;
}

.va_tag__card-thumbnail {
    display: block;
    width: 100%;
    aspect-ratio: 2 / 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.va_tag__card-heading {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 8px;
    padding-right: 8%;
    font-size: 1.3em;
    font-weight: bold
}

.va_tag__card-tags {
    display: flex;
    font-size: 0.5em;
    justify-content: center;
    flex-wrap: wrap;
}

.va_tag__card-meta {
    display: block;
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
}

.va_tag__card-heading-location {
    padding-top: 5px;
}

.va-tag__content-full, .va-tag__content-preview {
    padding-left: 8px;
    padding-right: 8px;
    font-weight: 100;
    line-height: 1.4;
}

.va_tag__content-next {
    margin: 0 auto;
}

.btn-load-more, .btn-show-less {
    background-color: rgb(255,255,255,0.8);
    color: var(--main-color);
    border: 2px var(--main-color) solid;
    font-weight: bold;
    font-size: 1em;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 15px;
}

.btn-signup {
    background-color: var(--main-color);
    color: white;
    border: 2px var(--main-color) solid;
    font-weight: bold;
    font-size: 1em;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.btn-signup:hover {
    background-color: white;
    color: var(--main-color);
    border: 2px white solid;
}

.va-tag__buttons{
    margin-top: 10px;
    margin-bottom: 10px;
    display:flex;
    justify-content: center;
    gap: 20px;
}

.va_tag__card-location {
    padding-top: 5px;
}

.va_tag__card-tags {
    display: flex;
    flex-direction: row;
    justify-content: left;
    font-size: 1em;
    font-weight: bold;
    word-break: break-all;
    gap: 5px;
}

.va_tag__card-tags > span {
    background-color: rgb(100,100,100,0.5);
    font-size: 0.7em;
    border-radius: 5px;
    padding: 4px; 
    font-weight: bold;
}

.va_tag__card-tag {
    font-weight: bold;
    word-wrap: break-word;    
}