ol.fl {
	padding: 0;
	margin: 0;
	max-width: 100%;
	position: relative;
}

ol.fl::before {
	content: '';
	width: 0.5rem;
	height: 100%;
	position: absolute;
	top: 0;
	left: 8%;
	background: var(--contrast);
	z-index: -1;
}

ol.fl li {
	padding: 0.5rem 1.5rem 1rem;
	border-radius: 1.5rem;
	background:  var(--contrast);
}

li + li {
	margin-top: 1rem;
}

::marker {
	font-weight: 600;
	color: var(--main-color);
	font-size: 1.8rem;
}
