header {
    background-color: var(--white);
    box-shadow: 1px 1px 5px 0px var(--grey);
    position: sticky;
    top: 0;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    z-index: 10;

    @include media-tablet {
        display: flex;
    }
}

.logo {
    display: inline-block;
    color: var(--grey);
    margin: 2vw 2vh;

    @include media-tablet {
        margin: 1vw 2vh;
    }
    @include media-desktop {
        margin-left: 10%;
    }
}

.logo-img {
    max-width: 50vw;
    max-height: 8vh;
}

// Menu

nav ul {
    list-style: none;
}


.nav {
    position: absolute;
    background-color: var(--contrast);
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s ease-out;
    font-family: Roboto, sans-serif;
    font-size: 2em;
    text-align: right;

    @include media-tablet {
        max-height: none;
        overflow: unset;
        font-size: font-size(regular);
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
        vertical-align: middle;
    }
    
    @include media-desktop {
        margin-right: 10%;
    }
}


.menu a {
    display: block;
    padding: 10px 5px;
    color: var(--white);
    font-weight: bold;

    @include media-tablet {
        color: var(--contrast);
        font-weight: 200;
    }

    @include media-desktop {
        padding: 15px 40px;
    }
}
  

.menu a:hover {
    @include media-tablet {
        background-color: transparent;
        color: var(--contrast);
    }
}

.menu > li:first-child {
    margin-top: 1rem;
}

.menu li {
    @include media-tablet {
        float: left;
    }
}


.menu > li {
    position: relative;
    
    @include media-tablet {
      float: left;
    }
  }

// Submenu (Dropdown) – Desktop-Version
.sub-menu {
    display: block;
    
    @include media-tablet {
        display: none;
        position: absolute;
        top: 100%;
        width: 350px;       
        left: 50%;
        transform: translateX(-50%); 
        background-color: var(--main-color); // leicht transparenter Hintergrund
        z-index: 999;
    }
}

.sub-menu a {
    color: var(--white);
    text-align: right;
    padding: 10px 5px;
    padding-right: 20px;
    font-weight: 200;

    @include media-tablet {
        text-align: center;
        padding-top: 15px;
    }
}

.menu > li:hover .sub-menu {
    display: block;
}

.sub-menu li {
    width: 100%;
}
  

// Burger Menu Icon

.hamb {
    cursor: pointer;
    margin-right: 3vw;
    margin-top: 1%;
    padding: 30px;
    float: right;

    @include media-tablet {
        display: none;
    }
}

.hamb-line {
    background: var(--contrast);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
}

.hamb-line::before,
.hamb-line::after{
    background: var(--contrast);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before {
    top: 5px;
}

.hamb-line::after {
    top: -5px;
}

.side-menu {
    display: none;
}

// Menu Toggle

.side-menu:checked ~ nav {
    min-height: 100vh;
    min-width: 100vw;
}

.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top: 0;
}

.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top: 0;
}

.infobar {
    width: 100%;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    gap: 5px;
    flex-direction:column;

    @include media-tablet {
        flex-direction: row;
        gap: 50px;
    }

}

.infobar a {
    color: white;
    font-weight: bold;
}

.contactinfo {
    font-family: 'Delius Regular';
}

.call-button, .mail-button {
    display: inline-block;
    font-size: 1em; 
    background-color: var(--white);
    color: var(--main-color);
    border-radius: 5px;
}