.news h3 {
    text-align: left;
}

.news-img {
    display: block;
    height: 350px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
}