/*
Prefer CSS-Custom Properties as those can be used in Javascript as well.
*/
:root {
  --white: #ffffff;
  --main-color: #e6534a;
  --contrast: #085573;
  --contrast-lighter: #E5C9B0;
  --main-color-light: #E6AEAF;
  --grey: #d0d0d0;
  --text-dark:#000000;
  --text-light: #ffffff;
  --color-links: #ff0000;
}

/*
Layout Variables: Maximum size of one grid-column in the content-area of the container
*/
$max-size-column: calc(100rem / 6);

/* 
Font Size dynamic with calc-function - has to be verified in every project
1rem eq 10px
*/
$font-sizes: (
  'small': calc(1.2rem + 0.25vw),
  'regular': calc(1.5rem + 0.25vw),
  'medium': calc(1.5rem + 0.5vw),
  'large': calc(1.5rem + 1vw),
  'xlarge': calc(2.5rem + 2vw)
);

@function font-size($font-size-style) {
  @return map-get($font-sizes, $font-size-style);
}

/* 
Media Queries - Common sizes, but check for each project
Mobile First: The specified sizes correspond to the respective minimum sizes
for the medium
*/
$break-points: (
  'mobile-ls': 480px,
  'tablet': 800px,
  'desktop': 1024px
);

@function breakpoint($break-point-limit) {
  @return map-get($break-points, $break-point-limit);
}
