/*
Usage: Element can be placed to whole width with 
"grid-column: container-start / container-end";
and to content area with
grid-column: content-start / content-end;
*/

.container {
  display: block;
  margin: 0 0;
  max-width: 100%;

  @include media-tablet {
    display: grid;
    margin: 0 0;
    grid-template-columns:
      [container-start] 1fr [content-start] repeat(
        6,
        [col-start] minmax(min-content, $max-size-column) [col-end]
      )
      [content-end] 1fr [container-end];
  }
}