// TODO: Variable Webfonts checken

@font-face {
  font-family: 'Roboto slab';
  src: local('Roboto slab'),
    url('../../fonts/RobotoSlab-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Roboto slab', sans-serif;
}

h1 {
  font-size: font-size(xlarge);
}

p {
  font-size: font-size(regular);
}
